In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import datetime as dt
import time as time

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')


news_title = soup.find('div', 'content_title', 'a').text
time.sleep(3)
news_p = soup.find('div', 'article_teaser_body').text
print(news_title)
print(news_p)

NASA Seeking Partner in Contest to Name Next Mars Rover
NASA has a class assignment for corporations, nonprofits and educational organizations involved in science and space exploration: partner with the agency to inspire future engineers and scientists by sponsoring a contest to name the next rover to venture to the Red Planet.

In [5]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [6]:
jpl_html = browser.html
jpl_soup = bs(jpl_html, "html.parser")

In [7]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(3)

In [8]:
browser.click_link_by_partial_text('more info')

In [9]:
image_html = browser.html
image_soup = bs(image_html, 'html.parser')
start_img_url = image_soup.find('img', 'main_image')
img_url = start_img_url.get('src')

jpl_img_url = "https://www.jpl.nasa.gov" + img_url

print(jpl_img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17200_hires.jpg

In [10]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)

In [11]:
twitter_html = browser.html
twitter_soup = bs(twitter_html, "html.parser")

In [12]:
mars_weather = twitter_soup.find('p', "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59'

In [13]:
facts_url = 'http://space-facts.com/mars/'
browser.visit(facts_url)

In [14]:
facts_html = browser.html
facts_soup = bs(facts_html, "html.parser")

In [15]:
facts_table = pd.read_html(facts_url)
facts_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = facts_table[0]
df.set_index(df[0], inplace = True)
table = df.drop(columns=[0])
table

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
table.columns = ["Value"]
table

                                              Value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
html_table = table.to_html
html_table

<bound method DataFrame.to_html of                                               Value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers>

In [19]:
# html_table.replace('\n', '')

In [20]:
table.to_html('table.html')

In [21]:
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)

In [22]:
hemi_html = browser.html
hemi_soup = bs(hemi_html, "html.parser")

In [23]:
cerberus = browser.find_by_tag('h3')[0].text
schiaparelli = browser.find_by_tag('h3')[1].text
syrtis_major = browser.find_by_tag('h3')[2].text
valles_marineris = browser.find_by_tag('h3')[3].text

browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')
cerberus_img = browser.find_by_text('Sample')['href']
browser.back()

browser.click_link_by_partial_text('Schiaparelli Hemisphere Enhanced')
schiaparelli_img = browser.find_by_text('Sample')['href']
browser.back()

browser.click_link_by_partial_text('Syrtis Major Hemisphere Enhanced')
syrtis_major_img = browser.find_by_text('Sample')['href']
browser.back()

browser.click_link_by_partial_text('Valles Marineris Hemisphere Enhanced')
valles_marineris_img = browser.find_by_text('Sample')['href']
browser.back()


hemisphere_image_urls = [
    {'title': cerberus, 'img_url': cerberus_img},
    {'title': schiaparelli, 'img_url': schiaparelli_img},
    {'title': syrtis_major, 'img_url': syrtis_major_img},
    {'title': valles_marineris, 'img_url': valles_marineris_img}]

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]